:root {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

main {
    padding-left: 2rem;

}

hr {
    border: 2px solid #E87C64;
}

.vertical {
    width: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #E87C64;
    padding: 1rem;
}

.specialties-back {
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 1.5rem;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.card-temp {
    width: 40rem;
    height: 7rem;
    background-color: #E87C64;
    border-radius: 1rem;
}


ul {
    padding: 0;
    margin-right: 2rem;
}

li {
    list-style-type: none;
    background-color: #F0F0F0;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

li > h2{
    color: #E87C64;
}

li > p{
    color: #494949;
}
