@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}

main {
    font-family: "Inter";
    margin: auto;
    width: 60%;
    height: 500px;
    background-color: #377F80;
    position: relative;
    top: -3rem;
    filter: drop-shadow(0 0 0.5rem black);
}

section {
    position: relative;
    height: 15rem;
    background-image: url("assets/sutter-bg.jpeg");
    contain: auto;
}

section > img {
    width: 100%;
    
}

section > div {
    position: absolute;
    top: 4rem;
    left: 20%;
    width: 60%;
}

.top {
    background-color: #123233;
    padding: 0.33rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top > .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.middle {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem;
    color: black;
}

.middle > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
}

.middle h2 {
    font-size: 1.15rem;
}

.middle > img {
    object-fit: contain;
    width: 12.5rem;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: #F6F6F4;
    padding: 0 4rem;
}

.bottom > img {
    height: 1.25rem;
}

.bottom h1 {
    color: #377E7F;
}

.bottom h2 {
    font-size: 1rem;
    color: #434444;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 10rem;
}

.search p {
    margin: 0;
}

.search > img {
    object-fit: contain;
    width: 1rem;
}

.heading {
    padding: 1rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.heading > img {
    width: 2.5rem;
}

.heading > h1 {
    margin: 0;
    color: #377F80;
}

main > .appBody {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.appBody > img {
    width: 20rem;
}

.appBody > h1 {
    color: #373737;
}

.appBody h2 {
    font-size: 1rem;
    color: #373737;
}

.appBody > p {
    width: 70%;
    color: #373737;
}

.appBody button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 3rem;
    padding: 0 1rem;
    align-self: flex-end;
    margin-right: 5rem;
}