@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    font-family: "Inter", Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: #E87C64;
    border-radius: 3rem;
    font-size: 1rem;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #E87C64;
    padding: 2rem;
    width: 30rem;
}

nav {
    font-family: "Inter";
    padding: 1rem;
    background-color: #E87C64;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

nav > img {
    width: 2.5rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
    color: white;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.inputWrapper {
    display: inline;
}

.centered h2{
    font-size: 2.5rem;
}

.inputWrapper > input {
    font-size: 1rem;
    padding: 1rem 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
}

.flexField {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}

#add-symptoms {
    width: 28rem;
}

#add-providers {
    width: 14rem;
}

#submit {
    padding: 1rem 2rem;
    background-color: white;
    border: none;
    border-radius: 3rem;
}

